body {
  background-color: #096012;
}

.main.budgetTop {
  min-height: auto;
  color: white;
  position: relative;
  align-items: center;
}

.main.budgetTop > div {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  gap: 1em;
  padding: 2em;
}

.border {
  height: 100%;
  width: 1.5px;
  background-color: #30df30;
  position: absolute;
}

.left {
  top: 0;
  left: 5em;
  z-index: -1;
}

.right {
  top: 0;
  right: 5em;
  z-index: -1;
}

.borderTop {
  width: 100%;
  height: 1.5px;
  background-color: #30df30;
  position: absolute;
  top: 3em;
  left: 0;
}

.main.budgetBottom {
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
  border-radius: 60px 60px 0 0;
  align-items: center;
}

.budgetExpenseWrapper {
  /*background-color: rgba(255, 255, 255, 60%);*/
  background: white;
  padding: 2em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  position: relative;
  z-index: 0;
  max-width: 1280px;
}

#income {
  display: flex;
  gap: 1em;
  align-items: center;
}

#income span {
  color: #323232;
}

.baseBar {
  padding: 8px;
  border-radius: 50px;
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.applyBudgetWrapper {
  background-color: #fff;
  padding: 6px;
  padding-left: 12px;
  width: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 50px;
  font-weight: 500;
}

.monthTitle select {
  font-weight: 600;
  font-family: Montserrat;
  border: none;
  outline: none;
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
  padding: 4px;
  padding-left: 8px;
  border-radius: 20px;
}

.saveBudgetContainer {
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  padding: 1.8px;
  width: fit-content;
  border-radius: 22px;
  cursor: pointer;
}

.saveBudget {
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
  padding: 4px 14px;
  border-radius: 20px;
}

.saveBudgetButton {
  font-size: 1em;
  font-weight: 800;
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.saveBudgetButton svg {
  width: 13px;
  height: 13px;
  margin-right: 4px;
  fill: #7057ed;
}

.incomeSection {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

#addIncomeCategory,
#addIncomeCategory select {
  border-radius: 50px;
}

.incomeContainer {
  background-color: #d0ffd0;
  padding: 12px;
  display: flex;
  gap: 12px;
  width: fit-content;
  border-radius: 6px;
  color: #30df30;
}

.incomeContainer select {
  border: none;
  outline: none;
  background-color: #d0ffd0;
  padding: 4px 8px;
  color: #30df30;
  font-size: 1em;
  font-weight: 600;
  font-family: Montserrat;
}

.incomeContainer select:hover {
  background-color: #ebfceb;
  cursor: pointer;
}

.incomeContainer select option {
  background-color: #fff;
  color: #323232;
}

.incomeContainer > div:has(> input[type="text"]) {
  border-color: #30df30;
}

.incomeContainer input[type="text"] {
  color: #30df30;
}

.sectionContainer {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.sectionContainer > div:first-child {
  flex: 1;
  position: relative;
}

.categoryRow {
  padding: 0.5em;
  font-weight: 500;
  padding-left: 30px;
  position: relative;
  margin-bottom: 3px;
  border-radius: 6px;
}

.categoryRow:first-child {
  margin-top: 1em;
}

.categoryRow,
.categoryRow .sliderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderWrapper {
  margin-left: auto;
  margin-right: 1em;
  gap: 10px;
}

.sliderPercent {
  font-size: 0.85em;
  font-weight: normal;
}

.categoryTitle {
  font-size: 1.1em;
  margin-right: 10px;
}

.categoryTitleUnderline {
  font-size: 1.1em;
  margin-right: 10px;
  border-bottom: 2px dashed #323232;
}

.categoryHelpText {
  position: absolute;
  z-index: 99;
  min-height: 150px;
  top: 10px;
  left: 22px;
  width: 400px;
  background-color: #fff;
  border: #323232 3px solid;
  padding: 6px;
  border-radius: 6px;
}

.categoryHelpText p:not(:first-child) {
  margin-top: 3px;
  font-size: 0.9em;
}

.categoryHelpText p:nth-child(2) {
  margin-block: 8px 12px;
}

.showElement {
  visibility: visible;
}

.hideElement {
  visibility: hidden;
}

div:has(> input[type="text"]) {
  background: white;
  border: #323232 2px solid;
  border-radius: 4px;
  padding: 0.25em;
  font-size: 1em;
  font-weight: 600;
  width: fit-content;
}

div.categorySearchContainer:has(> input[type="text"]) {
  border-radius: 20px;
  border: 2px solid #323232;
  background-color: #fff;
  padding: 4px 12px;
  position: absolute;
  z-index: 99;
  right: 0;
  top: -20px;
  font-size: 0.9em;
  box-shadow: 2px 4px 12px 0px #d5d5d5;
  font-weight: 400;
}

input[type="text"] {
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: 600;
  width: 100px;
  font-family: Montserrat;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 260px;
  height: 6px;
  border-radius: 5px;
  background: #323232;
  outline: none;
  margin-top: 4px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px #323232 solid;
  cursor: pointer;
}

.summaryTotals {
  align-self: flex-end;
  font-weight: 700;
  font-size: 1.2em;
  font-style: italic;
  padding-left: 24px;
  position: relative;
  min-width: 125px;
}

.summaryTotals p:first-child,
.summaryTotals p:nth-child(3) {
  color: #323232;
}

.summaryTotals p:nth-child(2) {
  border-bottom: 2px #323232 solid;
}

.summaryTotals::after {
  content: "";
  border-bottom: 3px #323232 solid;
  position: absolute;
  left: 0;
  width: 12px;
  top: 50%;
}

.graphContainer {
  display: flex;
  flex-direction: column;
}

.graphContainer > span:first-child {
  flex: 1;
  margin-top: 1em;
}

.graphHeader {
  background: #fff;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1.1em;
}

.budgetGraph {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  padding: 0 12px;
  margin-top: 20px;
  border-bottom: #323232 solid 2px;
  border-top: #323232 dashed 2px;
}

.budgetTotalChart {
  height: 150px;
  border-radius: 10px;
  background-color: #eee;
  width: 110px;
  display: flex;
  position: relative;
}

.budgetTotalChart .innerBar {
  position: absolute;
  width: 110px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  bottom: 0;
  height: 150px;
}

.budgetTotalChart > p {
  margin: auto;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2em;
}

.addCategoryButton {
  border-radius: 20px;
  border: 2px solid #323232;
  padding: 4px 12px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -20px;
  font-size: 0.8em;
  font-weight: 600;
}

.categorySearchContainer > .addCategoryButton {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 6px;
  top: 0;
}

.categorySearchContainer:has(p.addListItem) {
  border-radius: 12px;
}

Input[type="text"].categorySearchInput {
  outline: none;
  border: none;
  color: #323232;
  min-width: 400px;
  font-weight: 400;
  font-size: 0.9em;
}

p.addListItem {
  color: #323232;
  margin-block: 3px;
  cursor: pointer;
}

p.addListItem:hover {
  background-color: #fff;
}

p.addListItem:first-child {
  margin-top: 6px;
}

.searchFullBackground {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.removeCategory,
.removeIncomeCategory {
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  line-height: 18px;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
}

.removeCategory {
  position: absolute;
  left: 6px;
}

.removeIncomeCategory {
  justify-content: center;
  margin-top: 5px;
  margin-right: -5px;
}

.removeCategory p {
  margin: auto;
}

#negativeTotal {
  color: #ff2955;
}

#sectionHeader {
  margin-bottom: -0.5em;
  font-weight: 600;
}

#sectionHeader em {
  font-weight: 400;
}

.categoryRow div:has(> input[type="text"]) {
  border: #323232 2px solid;
}

.categoryRow input[type="text"] {
  color: #323232;
}

/****** Section Specific Colors ******/

#Essentials,
#Essentials .categoryRow input[type="text"] {
  color: #467af8;
}

#Essentials .slider {
  background: #467af8;
}

#Essentials .slider::-webkit-slider-thumb,
#Essentials .summaryTotals p:nth-child(2),
#Essentials .summaryTotals::after,
#Essentials .categoryRow div:has(> input[type="text"]),
#Essentials .budgetGraph,
#Essentials .categoryHelpText,
#Essentials .addCategoryButton,
#Essentials .categoryTitleUnderline,
#Essentials .categorySearchContainer {
  border-color: #467af8;
}

#Essentials .budgetTotalChart,
#Essentials .removeCategory,
#Essentials .categoryRow.rowBG,
#Essentials .graphHeader,
#Essentials p.addListItem:hover,
#Essentials .addCategoryButton:hover {
  background-color: #f0f4fe;
}

#Essentials .budgetTotalChart .innerBar {
  background-color: #d7e8fb;
}

#Essentials .budgetTotalChart:first-child,
#Non-Essentials .budgetTotalChart:first-child,
#Savings .budgetTotalChart:first-child {
  background-color: transparent;
}

#Non-Essentials,
#Non-Essentials .categoryRow input[type="text"] {
  color: #9c32e2;
}

#Non-Essentials .slider {
  background: #9c32e2;
}

#Non-Essentials .slider::-webkit-slider-thumb,
#Non-Essentials .summaryTotals p:nth-child(2),
#Non-Essentials .summaryTotals::after,
#Non-Essentials .categoryRow div:has(> input[type="text"]),
#Non-Essentials .budgetGraph,
#Non-Essentials .categoryHelpText,
#Non-Essentials .addCategoryButton,
#Non-Essentials .categoryTitleUnderline,
#Non-Essentials .categorySearchContainer {
  border-color: #9c32e2;
}

#Non-Essentials .budgetTotalChart,
#Non-Essentials .removeCategory,
#Non-Essentials .categoryRow.rowBG,
#Non-Essentials .graphHeader,
#Non-Essentials p.addListItem:hover,
#Non-Essentials .addCategoryButton:hover {
  background-color: #f7effd;
}

#Non-Essentials .budgetTotalChart .innerBar {
  background-color: #ecd0ff;
}

#Savings,
#Savings .categoryRow input[type="text"] {
  color: #ffa73d;
}

#Savings .slider {
  background: #ffa73d;
}

#Savings .slider::-webkit-slider-thumb,
#Savings .summaryTotals p:nth-child(2),
#Savings .summaryTotals::after,
#Savings .categoryRow div:has(> input[type="text"]),
#Savings .budgetGraph,
#Savings .categoryHelpText,
#Savings .addCategoryButton,
#Savings .categoryTitleUnderline,
#Savings .categorySearchContainer {
  border-color: #ffa73d;
}

#Savings .budgetTotalChart,
#Savings .removeCategory,
#Savings .categoryRow.rowBG,
#Savings .graphHeader,
#Savings p.addListItem:hover,
#Savings .addCategoryButton:hover {
  background-color: #fff7ee;
}

#Savings .budgetTotalChart .innerBar {
  background-color: #fce5cd;
}

@media (max-width: 1024px) {
  .categoryRow > span > p {
    font-size: 0.9em;
  }

  #sectionHeader,
  .categoryTitle,
  .categoryTitleUnderline,
  .categoryHelpText {
    font-size: 0.95em;
  }

  .slider {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .categoryRow > span {
    visibility: hidden;
    appearance: none;
    width: 0;
  }
}

@media screen and (max-width: 650px) {
  .left {
    left: 1em;
  }
  .right {
    right: 1em;
  }
  .borderTop {
    top: 1em;
  }
}

/* Imported Component Stlying */

.successPopWrapper {
  background-color: #fff;
  padding: 1.5px;
  width: fit-content;
  position: fixed;
  z-index: 99;
  left: 2em;
  bottom: 2em;
  border-radius: 10px;
}

.successPopWrapper div {
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  padding: 1.5px;
  border-radius: 8px;
}

.successPopWrapper div div {
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
  padding: 10px 20px;
  padding-left: 30px;
  border-radius: 6px;
  position: relative;
}

.removeSuccessPopUp {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  line-height: 18px;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  left: 12px;
}
