.main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 4rem 6rem;
    min-height: 100vh;
    color: #323232;
}

#income {
    display: flex;
    gap: 1em;
    align-items: center;
}

.categoryRow {
    padding: .5em;
    font-weight: 500;
}

.categoryRow:first-child {
    margin-top: 1em;
}

.categoryRow,
.categoryRow>span {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.sliderPercent {
    font-size: .85em;
    font-weight: normal;
}

.categoryTitle {
    font-size: 1.1em;
    margin-right: 50px;
}

div:has(>input[type="number"]) {
    background: white;
    border: #323232 2px solid;
    padding: 0.25em;
    font-size: 1em;
    font-weight: 600;
    width: fit-content;
}

input[type="number"] {
    outline: none;
    border: none;
    font-size: 1em;
    font-weight: 600;
    width: 80px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 12px;
    border-radius: 5px;
    background: #467AF8;
    outline: none;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    border: 2px #467AF8 solid;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.budgetGraph {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    padding: 0 12px;
    margin-top: 20px;
    border-bottom: #467AF8 solid 2px;
    border-top: #467AF8 dashed 2px;
}

.budgetTotalChart {
    height: 150px;
    border-radius: 10px;
    background-color: #F0F4FE;
    width: 110px;
    display: flex;
    position: relative;
}

.budgetTotalChart .innerBar {
    position: absolute;
    width: 110px;
    background-color: #d7e8fb;
    border-radius: 10px;
    z-index: -1;
    bottom: 0;
    height: 150px;
}

.budgetTotalChart:first-child {
    background-color: transparent;
}

.budgetTotalChart>p {
    margin: auto;
    font-weight: 800;
    font-style: italic;
    font-size: 1.2em;
}


#essentials {
    color: #467AF8;
}

.essentialsBlue div:has(>input[type="number"]) {
    border: #467af8 2px solid;
}

.essentialsBlue input[type="number"] {
    color: #467af8;
}

.essentialsBlue {
    padding: .75em;
    background-color: #F0F4FE;
    border-radius: 10px;
}