body {
  background: linear-gradient(
    135deg,
    #f0f4fe,
    #f7effd 25%,
    #fecfdf 75%,
    #fff7ee 100%
  );
}

main#expensePage {
  padding: 2rem;
  padding-bottom: 4rem;
  overflow-x: scroll;
}

.section .filter {
  right: 10em;
}

.section:has(.recurringEdit) .filter {
  display: none;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}

.saveBudgetContainer,
.saveRecurrenceContainer {
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  padding: 2px;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
}

.section
  > table#expenseTable
  tr:has(td.recurringEdit)
  div.saveRecurrenceContainer {
  position: absolute;
  outline: none;
  padding: 1px;
}

.section
  > table#expenseTable
  tr:has(td.recurringEdit)
  div.saveRecurrenceContainer.save {
  right: -180px;
  top: 5px;
}

.section
  > table#expenseTable
  tr:has(td.recurringEdit)
  div.saveRecurrenceContainer.close {
  right: -40px;
  top: 5px;
}

.section
  > table#expenseTable
  tr:has(td.recurringEdit)
  div.saveRecurrenceContainer
  .saveRecurrence.save {
  outline: none;
  padding: 4px 12px;
}

.section
  > table#expenseTable
  tr:has(td.recurringEdit)
  div.saveRecurrenceContainer
  .saveRecurrence.close {
  outline: none;
  padding: 4px 8px;
}

.saveBudget,
.saveRecurrence {
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
  padding: 8px 12px;
  border-radius: 20px;
}

.saveBudget:hover,
.saveRecurrence:hover {
  background: #fff;
}

.section
  > table#expenseTable
  tr:has(td.recurringEdit)
  div.saveRecurrenceContainer
  .saveRecurrenceButton {
  font-weight: 600;
}

.saveBudgetButton,
.saveRecurrenceButton {
  font-size: 1em;
  font-weight: 800;
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.monthTitle {
  font-size: 1.8em;
  font-weight: 600;
}

.expenseColumns {
  display: flex;
}

.summaryWrapper {
  background-color: #ffffff91;
  padding: 1em;
  padding-right: 1.5em;
  border-radius: 20px;
  height: fit-content;
}

.section {
  padding: 1.5em 10em 1.5em 2.5em;
  border-radius: 20px;
  position: relative;
}

.section > h2,
#summaryIncome > h2,
#summarySavings > h2,
#summaryExpense > h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}

#summarySavings > h2,
#summaryExpense > h2 {
  margin-top: 40px;
}

span.summaryProgressBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.summaryProgressBar span {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  width: 250px;
  gap: 2px;
}

.summaryProgressBar #progressMonthly,
.summaryProgressBar #progressBudget {
  border: 2px solid;
  padding: 3px;
  z-index: 1;
  display: flex;
  height: 28px;
}

.summaryProgressBar #progressBudget {
  background-color: #fff;
  text-align: end;
  z-index: 0;
}

.summaryProgressBar #progressMonthly p,
.summaryProgressBar #progressBudget p,
.categoryName {
  background-color: #fff;
  border-radius: 20px;
  font-size: 0.8em;
  width: fit-content;
}

.categoryName {
  padding: 4px 8px;
  margin-right: 4px;
}

.summaryProgressBar #progressMonthly p,
.summaryProgressBar #progressBudget p {
  position: absolute;
  padding: 1px 6px;
  font-weight: 700;
}

.summaryProgressBar #progressMonthly p {
  color: #323232;
}

.summaryProgressBar #progressBudget p {
  right: 6px;
}

.summaryProgressBar #progressMonthly.overBudgetMonthly {
  border-right: none;
}

.summaryProgressBar #progressBudget.overBudgetProgress {
  border-left: none;
  margin-left: -2px;
}

#expenseTable tr td .recurringIcon:first-child #recurringBackground {
  fill: #fae5f4;
}

#expenseTable tr td .recurringIcon #recurringBackground {
  fill: #fff;
}

#expenseTable tr td .recurringIcon:first-child {
  position: absolute;
  left: -30px;
  opacity: 0.25;
}

#expenseTable tr td:first-child .recurringIcon:first-child:hover,
#expenseTable tr td.recurringActive .recurringIcon {
  opacity: 1;
}

#AddExpenseBar {
  padding: 8px;
  margin: 0 2em;
  border-radius: 50px;
  background-color: #fff;
  z-index: 99;
}

#AddExpenseBarInner {
  padding: 6px;
  border-radius: 50px;
  background: #fff;
  border: 3px solid #323232;
  display: flex;
  gap: 1em;
  z-index: 99;
}

#AddExpenseBarInner .typeSelector {
  background: linear-gradient(
    135deg,
    #f0f4fe,
    #f7effd 25%,
    #fecfdf 75%,
    #fff7ee 100%
  );
  border-radius: 20px;
  padding: 4px;
  cursor: pointer;
}

.Expense .expenseInput.expense,
.Expense .expenseInput.expense input,
#AddExpenseBarInner .typeSelector #expense {
  color: #e8034d;
}

.Expense .expenseInput.income,
.Expense .expenseInput.income input,
#AddExpenseBarInner .typeSelector #income {
  color: #09d22f;
}

.Expense .expenseInput.saving,
.Expense .expenseInput.saving input,
#AddExpenseBarInner .typeSelector #saving {
  color: #ff9900;
}

#AddExpenseBarInner .typeSelector span {
  font-size: 1.4em;
  font-weight: 800;
}

#AddExpenseBarInner .typeSelector .active,
#AddExpenseBarInner .typeSelector .inactive {
  border-radius: 50px;
  padding: 0 8px;
}

#AddExpenseBarInner .typeSelector .active {
  background-color: #fff;
}

#AddExpenseBarInner input,
#AddExpenseBarInner select {
  padding: 4px 10px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 500;
  flex: 1;
}

#AddExpenseBarInner input:focus,
#AddExpenseBarInner select:focus,
#AddExpenseBarInner .expenseInput:has(input:focus),
#AddExpenseBarInner #addExpenseButton:focus {
  outline: #323232 2px solid;
}

#AddExpenseBarInner input[type="date"] {
  font-size: 1.1em;
}

#AddExpenseBarInner input[name="description"] {
  flex: 1;
}

#AddExpenseBarInner .expenseInput {
  border-radius: 20px;
  background-color: #fff;
  padding-left: 8px;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#AddExpenseBarInner .expenseInput input {
  font-weight: 700;
  padding-left: 6px;
  width: 100px;
  outline: none;
}

#AddExpenseBarInner #addExpenseButton {
  outline: none;
  background-color: #e8034d;
  border: none;
  /*border: #fe9fbf 2px solid;*/
  border-radius: 20px;
  padding: 4px 12px;
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.Expense #AddExpenseBarInner {
  /*background-color: #ff6799;*/
  border-color: #e8034d;
}

.Expense #AddExpenseBarInner:has(.typeSelector #income.active) {
  /*background-color: #83f899;*/
  border-color: #09d22f;
}

#AddExpenseBarInner:has(.typeSelector #income.active) #addExpenseButton {
  background-color: #09d22f;
}

.Expense #AddExpenseBarInner:has(.typeSelector #saving.active) {
  /*background-color: var(--orange-highlight);*/
  border-color: var(--orange-color);
}

#AddExpenseBarInner:has(.typeSelector #saving.active) #addExpenseButton {
  background-color: var(--orange-color);
}

.section > table#expenseTable tr {
  position: relative;
}

.section > table#expenseTable tr:has(td.recurringEdit) td > input,
.section > table#expenseTable tr:has(td.recurringEdit) div {
  outline: #323232 2px solid;
  padding: 3px 6px;
  border-radius: 20px;
}

.section > table#expenseTable tr:has(td.recurringEdit) div {
  background-color: #fff;
}

.section > table#expenseTable tr td.recurringEdit:first-child {
  border-right: none;
}

.section > table#expenseTable tr:has(td.recurringEdit) td,
.section > table#expenseTable tr:has(td.recurringActive) td,
.section
  > table#expenseTable
  tr:has(td:not(.recurringEdit).recurringActive)
  input {
  background: none;
}

.section > table#expenseTable {
  border-collapse: separate;
  border-spacing: 0px;
  font-size: 0.9em;
  width: 100%;
}

.section > table#expenseTable {
  color: #323232;
}

.section > table#expenseTable tr td {
  border-bottom: 2px solid;
  padding-right: 15px;
}

.section > table#expenseTable tr td input {
  outline: none;
  border: none;
  font-family: Montserrat;
  max-width: 100px;
}

.section > table#expenseTable tr td:nth-child(2) input {
  min-width: 250px;
}

.section > table#expenseTable tr:first-child td {
  border-top: 2px solid;
}

.section > table#expenseTable tr td.expenseAmount,
.section > table#expenseTable tr td.expenseAmount input {
  font-weight: 700;
  font-size: 1em;
}

.section > table#expenseTable tr td.expenseAmount input {
  width: 70px;
}

.section > table#expenseTable tr td.expenseAmount {
  padding-left: 15px;
}

.section > table#expenseTable tr td div {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center;
}

.section > table#expenseTable tr td:not(:first-child) {
  font-size: 0.95em;
}

.section > table#expenseTable tr td:first-child {
  border-left: 2px solid;
}

.section > table#expenseTable tr td:first-child,
.section > table#expenseTable tr td:last-child {
  border-right: 2px solid;
}

.section > table#expenseTable tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

.section > table#expenseTable tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.section > table#expenseTable tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.section > table#expenseTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.section > table#expenseTable td {
  padding: 6px 1em 6px 6px;
}

.section > table#expenseTable td {
  background-color: #fff;
}

.hidden,
.hidden * {
  appearance: none;
  opacity: 0;
  height: 0;
  padding: 0;
}

.show {
  appearance: visible;
  opacity: 1;
}

/* Section colors */

#summaryIncome .summaryProgressBar #progressMonthly.overBudgetMonthly p {
  color: #323232;
}

#Income,
#summaryIncome > h2,
#Income.section table#summaryTable tr#summaryTotals #overBudgetExpenses,
#Income.section > table#expenseTable tr td.expenseAmount,
#Income.section > table#expenseTable tr td.expenseAmount input,
#Income .filter,
#Income .filter select {
  color: #09d22f;
}

#Income .filter SVG,
#Income .recurringIcon #recurringArrows,
#Income .recurringIcon #recurringR {
  fill: #09d22f;
}

#Income.section > table#expenseTable tr:has(td.recurringEdit),
#Income.section > table#expenseTable tr:has(td.recurringActive) {
  background: #ebfceb;
}

#Income.section > table#expenseTable tr:has(td.recurringEdit) td > input,
#Income.section > table#expenseTable tr:has(td.recurringEdit) div {
  outline-color: #09d22f;
}

#Income #summaryTotals,
#summaryIncome #summaryBudget,
#summaryIncome #summaryMonthly {
  background-color: #d0ffd0;
}

#summaryIncome .summaryProgressBar #progressMonthly.overBudgetMonthly,
#summaryIncome .summaryProgressBar #progressMonthly.overBudgetWarning,
#summaryIncome .summaryProgressBar #progressBudget.overBudgetProgress,
#summarySavings .summaryProgressBar #progressMonthly,
#summaryExpense .summaryProgressBar #progressMonthly {
  background-color: #83f899;
}

#Income.section > table#summaryTable tr:not(:first-child) td,
#Income.section > table#expenseTable tr td,
#Income.section > table#expenseTable tr:first-child td,
#Income.section > table#expenseTable tr td:first-child,
#Income.section > table#expenseTable tr td:first-child,
#Income.section > table#expenseTable tr td:last-child,
#summaryIncome .summaryProgressBar #progressMonthly.overBudgetMonthly,
#summaryIncome .summaryProgressBar #progressMonthly.overBudgetWarning,
#summaryIncome .summaryProgressBar #progressBudget.overBudgetProgress,
#summarySavings .summaryProgressBar #progressMonthly,
#summaryExpense .summaryProgressBar #progressMonthly,
#Income .overBudgetBlock {
  border-color: #09d22f;
}

#summaryIncome .overBudgetBlock {
  background-color: #09d22f;
}

#summaryIncome .summaryProgressBar #progressMonthly,
#summaryIncome .summaryProgressBar #progressBudget {
  border-color: var(--blue-color);
}

#summaryIncome .summaryProgressBar #progressMonthly {
  background-color: var(--blue-highlight);
}

#Expenses,
#summaryExpense > h2,
#Expenses.section > table#expenseTable tr td.expenseAmount,
#Expenses.section > table#expenseTable tr td.expenseAmount input,
#Expenses .filter select {
  color: #ff2955;
}

#Expenses .filter SVG,
#Expenses .recurringIcon #recurringArrows,
#Expenses .recurringIcon #recurringR {
  fill: #ff2955;
}

#Expenses.section > table#expenseTable tr:has(td.recurringEdit),
#Expenses.section > table#expenseTable tr:has(td.recurringActive) {
  background: linear-gradient(
    135deg,
    #f0f4fe,
    #f7effd 25%,
    #fecfdf 75%,
    #fff7ee 100%
  );
}

#Expenses.section > table#expenseTable tr:has(td.recurringEdit) td > input,
#Expenses.section > table#expenseTable tr:has(td.recurringEdit) div {
  outline-color: #ff2955;
}

#Expenses.section > table#summaryTable tr:not(:first-child) td,
#Expenses.section > table#expenseTable tr td,
#Expenses.section > table#expenseTable tr:first-child td,
#Expenses.section > table#expenseTable tr td:first-child,
#Expenses.section > table#expenseTable tr td:first-child,
#Expenses.section > table#expenseTable tr td:last-child {
  border-color: #ff2955;
}

#Savings,
#summarySavings > h2,
#Savings.section table#summaryTable tr#summaryTotals #overBudgetExpenses,
#Savings.section > table#expenseTable tr td.expenseAmount,
#Savings.section > table#expenseTable tr td.expenseAmount input,
#Savings .filter select {
  color: var(--orange-color);
}

#Savings .filter SVG,
#Savings .recurringIcon #recurringArrows,
#Savings .recurringIcon #recurringR {
  fill: var(--orange-color);
}

#Savings.section > table#expenseTable tr:has(td.recurringEdit),
#Savings.section > table#expenseTable tr:has(td.recurringActive) {
  background: #fff7ee;
}

#Savings.section > table#expenseTable tr:has(td.recurringEdit) td > input,
#Savings.section > table#expenseTable tr:has(td.recurringEdit) div {
  outline-color: var(--orange-color);
}

#Savings #summaryTotals,
#Savings.section > table#summaryTable td#summaryBudget,
#Savings.section > table#summaryTable td#summaryMonthly {
  background-color: var(--orange-highlight);
}

#summarySavings .summaryProgressBar #progressMonthly.overBudgetWarning,
#summaryExpense .summaryProgressBar #progressMonthly.overBudgetWarning {
  background-color: #fdef81;
}

#Savings.section > table#summaryTable tr:not(:first-child) td,
#Savings.section > table#expenseTable tr td,
#Savings.section > table#expenseTable tr:first-child td,
#Savings.section > table#expenseTable tr td:first-child,
#Savings.section > table#expenseTable tr td:first-child,
#Savings.section > table#expenseTable tr td:last-child {
  border-color: var(--orange-color);
}

#summarySavings .summaryProgressBar #progressMonthly.overBudgetProgress,
#summarySavings .summaryProgressBar #progressMonthly.overBudgetWarning,
#summarySavings .summaryProgressBar #progressBudget,
#summaryExpense .summaryProgressBar #progressMonthly.overBudgetProgress,
#summaryExpense .summaryProgressBar #progressMonthly.overBudgetWarning,
#summaryExpense .summaryProgressBar #progressBudget {
  border-color: #f5dd2d;
}

#summarySavings .overBudgetBlock,
#summaryExpense .overBudgetBlock {
  background-color: #ff2955;
}

.summaryProgressBar #progressMonthly.overBudgetMonthly p {
  color: #ff2955;
}

#summarySavings .summaryProgressBar #progressMonthly.overBudgetMonthly,
#summarySavings .summaryProgressBar #progressBudget.overBudgetProgress,
#summaryExpense .summaryProgressBar #progressMonthly.overBudgetMonthly,
#summaryExpense .summaryProgressBar #progressBudget.overBudgetProgress,
.summaryProgressBar #progressMonthly.overBudgetMonthly,
.summaryProgressBar #progressBudget.overBudgetProgress,
.summaryProgressBar #progressMonthly.overBudgetWarning {
  background-color: #fe9fbf;
  border-color: #ff2955;
}

.overBudgetBlock {
  background-color: #ff2955;
  border-color: #ff2955;
  position: absolute;
  right: -9px;
  width: 12px;
  height: 28px;
}
