body {
  background: linear-gradient(
    135deg,
    #f0f4fe,
    #f7effd 25%,
    #fecfdf 75%,
    #fff7ee 100%
  );
}

main#expensePage {
  padding: 2rem;
  padding-bottom: 4rem;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
}
.saveBudgetContainer {
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  padding: 1.5px;
  width: fit-content;
  border-radius: 6px;
  cursor: pointer;
}

.saveBudget {
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
  padding: 8px 12px;
  border-radius: 4px;
}

.saveBudgetButton {
  font-size: 1em;
  font-weight: 800;
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.monthTitle {
  font-size: 1.8em;
  font-weight: 600;
}

.expenseColumns {
  display: flex;
}

.summaryWrapper {
  background-color: #ffffff91;
  padding: 1em;
  padding-right: 1.5em;
  border-radius: 20px;
  height: fit-content;
}

.section {
  padding: 1.5em 2em 2em 2em;
  border-radius: 20px;
}

.section > h2 {
  font-size: 1.2em;
  font-weight: 500;
}

span.summaryProgressBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.summaryProgressBar span {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  width: 250px;
  gap: 2px;
}

.summaryProgressBar #progressMonthly,
.summaryProgressBar #progressBudget {
  border: 2px solid;
  padding: 3px;
  z-index: 1;
  display: flex;
  height: 28px;
}

.summaryProgressBar #progressBudget {
  background-color: #fff;
  text-align: end;
  z-index: 0;
}

.summaryProgressBar #progressMonthly p,
.summaryProgressBar #progressBudget p,
.categoryName {
  background-color: #fff;
  border-radius: 20px;
  font-size: 0.8em;
  width: fit-content;
}

.categoryName {
  padding: 4px 8px;
}

.summaryProgressBar #progressMonthly p,
.summaryProgressBar #progressBudget p {
  position: absolute;
  padding: 1px 6px;
  font-weight: 700;
}

.summaryProgressBar #progressMonthly p {
  color: #323232;
}

.summaryProgressBar #progressBudget p {
  right: 6px;
}

.summaryProgressBar #progressMonthly.overBudgetMonthly p,
.summaryProgressBar #progressMonthly.overBudgetWarning p {
  color: #ff2955;
}

.summaryProgressBar #progressMonthly.overBudgetMonthly,
.summaryProgressBar #progressBudget.overBudgetProgress,
.summaryProgressBar #progressMonthly.overBudgetWarning {
  background-color: #fe9fbf;
  border-color: #ff2955;
}

.overBudgetBlock {
  background-color: #ff2955;
  border-color: #ff2955;
  position: absolute;
  right: -12px;
  width: 12px;
  height: 28px;
}

.summaryProgressBar #progressMonthly.overBudgetMonthly {
  border-right: none;
}

.summaryProgressBar #progressBudget.overBudgetProgress {
  border-left: none;
  margin-left: -2px;
}

#AddExpenseBar {
  position: fixed;
  bottom: 20px;
  width: calc(100% - 10rem);
  padding: 8px;
  border-radius: 50px;
  border: 3px solid #323232;
  display: flex;
  gap: 1em;
  z-index: 99;
}

#AddExpenseBar .typeSelector {
  background: linear-gradient(
    135deg,
    #f0f4fe,
    #f7effd 25%,
    #fecfdf 75%,
    #fff7ee 100%
  );
  padding: 5px 12px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.Expense .expenseInput.expense,
.Expense .expenseInput.expense input,
#AddExpenseBar .typeSelector #expense {
  color: #e8034d;
}

.Expense .expenseInput.income,
.Expense .expenseInput.income input,
#AddExpenseBar .typeSelector #income {
  color: #09d22f;
}

.Expense .expenseInput.saving,
.Expense .expenseInput.saving input,
#AddExpenseBar .typeSelector #saving {
  color: #ff9900;
}

#AddExpenseBar .typeSelector span {
  font-size: 1.4em;
  font-weight: 800;
}

#AddExpenseBar .typeSelector .active,
#AddExpenseBar .typeSelector .inactive {
  border-radius: 50px;
  padding: 0 8px;
}

#AddExpenseBar .typeSelector .active {
  background-color: #fff;
}

#AddExpenseBar input,
#AddExpenseBar select {
  padding: 5px 12px;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 1.1em;
  font-weight: 500;
}

#AddExpenseBar input[name="description"] {
  flex: 1;
}

#AddExpenseBar .expenseInput {
  border-radius: 20px;
  background-color: #fff;
  padding-left: 8px;
  font-size: 1.2em;
  font-weight: 700;
}

#AddExpenseBar .expenseInput input {
  font-weight: 700;
  padding-left: 6px;
  width: 120px;
}

#AddExpenseBar #addExpenseButton {
  outline: none;
  background-color: #e8034d;
  border: #fe9fbf 2px solid;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 1.2em;
  color: white;
  font-weight: 600;
}

.Expense#AddExpenseBar {
  background-color: #ff6799;
  border-color: #e8034d;
}

.section > table#expenseTable {
  border-collapse: separate;
  border-spacing: 0px;
  font-size: 0.9em;
  margin-top: 20px;
  width: 100%;
}

.section > table#expenseTable {
  color: #323232;
}

.section > table#expenseTable tr td {
  border-bottom: 2px solid;
  padding-right: 15px;
}

.section > table#expenseTable tr td:nth-child(2) {
  min-width: 400px;
}

.section > table#expenseTable tr:first-child td {
  border-top: 2px solid;
}

.section > table#expenseTable tr td.expenseAmount {
  color: #ff2955;
  font-weight: 700;
  padding-left: 15px;
}

.section > table#expenseTable tr td:not(:first-child) {
  font-size: 0.95em;
}

.section > table#expenseTable tr td:first-child {
  border-left: 2px solid;
}

.section > table#expenseTable tr td:first-child,
.section > table#expenseTable tr td:last-child {
  border-right: 2px solid;
}

.section > table#expenseTable tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

.section > table#expenseTable tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.section > table#expenseTable tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.section > table#expenseTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.section > table#expenseTable td {
  padding: 6px 1em 6px 6px;
}

.section > table#expenseTable td {
  background-color: #fff;
}

/* Section colors */

#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning
  p,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning
  p {
  color: #323232;
}

#Income,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly
  p,
#Income.section table#summaryTable tr#summaryTotals #overBudgetExpenses {
  color: #09d22f;
}

#Income #summaryTotals,
#Income.section > table#summaryTable td#summaryBudget,
#Income.section > table#summaryTable td#summaryMonthly,
#Income.section > table#summaryTable tr td.summaryProgressBar,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning {
  background-color: #d0ffd0;
}

#Income.section > table#summaryTable tr:not(:first-child) td,
#Income.section > table#expenseTable tr td,
#Income.section > table#expenseTable tr:first-child td,
#Income.section > table#expenseTable tr td:first-child,
#Income.section > table#expenseTable tr td:first-child,
#Income.section > table#expenseTable tr td:last-child,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning,
#Income .overBudgetBlock {
  border-color: #09d22f;
}

#Income .overBudgetBlock {
  background-color: #09d22f;
}

#Expenses {
  color: #ff2955;
}

#Expenses #summaryTotals,
#Expenses.section > table#summaryTable td#summaryBudget,
#Expenses.section > table#summaryTable td#summaryMonthly,
#Expenses.section > table#summaryTable tr td.summaryProgressBar {
  background-color: var(--blue-highlight);
}

#Expenses.section > table#summaryTable tr:not(:first-child) td,
#Expenses.section > table#expenseTable tr td,
#Expenses.section > table#expenseTable tr:first-child td,
#Expenses.section > table#expenseTable tr td:first-child,
#Expenses.section > table#expenseTable tr td:first-child,
#Expenses.section > table#expenseTable tr td:last-child {
  border-color: #ff2955;
}

#Savings,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly
  p,
#Savings.section table#summaryTable tr#summaryTotals #overBudgetExpenses {
  color: var(--orange-color);
}

#Savings #summaryTotals,
#Savings.section > table#summaryTable td#summaryBudget,
#Savings.section > table#summaryTable td#summaryMonthly,
#Savings.section > table#summaryTable tr td.summaryProgressBar,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning {
  background-color: var(--orange-highlight);
}

#Savings.section > table#summaryTable tr:not(:first-child) td,
#Savings.section > table#expenseTable tr td,
#Savings.section > table#expenseTable tr:first-child td,
#Savings.section > table#expenseTable tr td:first-child,
#Savings.section > table#expenseTable tr td:first-child,
#Savings.section > table#expenseTable tr td:last-child,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning,
#Savings .overBudgetBlock {
  border-color: var(--orange-color);
}

#Savings .overBudgetBlock {
  background-color: var(--orange-color);
}
