body {
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
}

.monthTitle {
  font-size: 1.8em;
  font-weight: 600;
}

.monthTitle span:has(select) {
  padding: 1.8px;
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  display: inline-block;
  border-radius: 8px;
}

.monthTitle select {
  font-size: 1em;
  font-weight: 600;
  font-family: Montserrat;
  border: none;
  outline: none;
  background: #fff;
  padding: 3px 9px;
  border-radius: 6px;
  cursor: pointer;
}

.monthTitle select option {
  font-size: 0.6em;
}

.monthWrapper {
  padding: 1.5px;
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
}

.updateBudget {
  position: absolute;
  background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);
  right: 0;
  top: -46px;
  padding: 1.8px;
  border-radius: 54px;
}

.updateBudget > div {
  padding: 8px 16px;
  border-radius: 50px;
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
}

.updateBudget:hover > div {
  background: #fff;
}

.baseBar {
  padding: 16px 24px;
  border-radius: 50px;
  background: #fff;
  font-size: 1em;
  font-weight: 600;
  margin-top: 20px;
  position: relative;
}

.baseBar em {
  font-size: 0.95em;
  font-weight: 400;
}

.baseBarBubble {
  padding: 3px 12px;
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
  border-radius: 20px;
}

.expenseButton.left,
.incomeButton.left,
.savingsButton.left {
  position: absolute;
  right: 1.5rem;
  top: 1.5em;
}

.expenseButton.border,
.incomeButton.border,
.savingsButton.border {
  padding: 1.8px;
  width: fit-content;
  border-radius: 20px;
}

.expenseButton.background,
.incomeButton.background,
.savingsButton.background {
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.expenseButton.text,
.incomeButton.text,
.savingsButton.text {
  font-size: 1em;
  font-weight: 600;
}

.expenseButton.border {
  /*background: linear-gradient(122deg, #467af8, #9c32e2, #ff2955, #ffb15a);*/
  background-color: #fff;
}

.incomeButton.border {
  /*background: #09d22f;*/
  background-color: #fff;
}

.savingsButton.border {
  /*background: var(--orange-color);*/
  background-color: #fff;
}

.expenseButton.background {
  background-color: #fff;
}
.expenseButton.background:hover {
  background: linear-gradient(122deg, #f0f4fe, #f7effd, #fecfdf, #fff7ee);
}

.incomeButton.background {
  background-color: #fff;
}

.incomeButton.background:hover {
  background-color: #d0ffd0;
}

.savingsButton.background {
  background-color: #fff;
}

.savingsButton.background:hover {
  background: var(--orange-highlight);
}

.expenseButton.text,
.overBudgetText {
  color: #ff2955;
}

.incomeButton.text {
  color: #09d22f;
}

.savingsButton.text {
  color: var(--orange-color);
}

.section {
  padding: 1.5em 2em 2em 2em;
  border-radius: 20px;
  position: relative;
  border: 2px solid #fff;
  overflow-x: auto;
}

.section .baseBarBubble {
  border: 1px solid #fff;
  background: #fff;
}

.section > h1 {
  font-size: 2.6em;
  text-transform: uppercase;
  font-weight: 600;
}

.section > h1 > em {
  font-weight: 500;
  font-size: 2rem;
  vertical-align: text-top;
}

.section > table#summaryTable,
.section > table#expenseTable {
  border-collapse: separate;
  border-spacing: 0px;
  font-size: 0.9em;
  margin-top: 20px;
  width: 1024px;
}

.section > table#expenseTable {
  color: #323232;
}

.section > table#summaryTable tr:not(:first-child) td {
  border-bottom: 1px solid;
}

.section > table#expenseTable tr td {
  border-bottom: 2px solid;
  padding-right: 15px;
}

.section > table#expenseTable tr td:nth-child(2) {
  min-width: 400px;
}

.section > table#expenseTable tr:first-child td {
  border-top: 2px solid;
}

.section > table#expenseTable tr td.expenseAmount {
  color: #ff2955;
  font-weight: 700;
  padding-left: 15px;
}

.section > table#expenseTable tr td:not(:first-child) {
  font-size: 0.95em;
}

.section > table#expenseTable tr td:first-child {
  border-left: 2px solid;
}

.section > table#expenseTable tr td:first-child,
.section > table#expenseTable tr td:last-child {
  border-right: 2px solid;
}

.section > table#expenseTable tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

.section > table#expenseTable tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.section > table#expenseTable tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.section > table#expenseTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.section > table#summaryTable td,
.section > table#expenseTable td {
  padding: 6px 1em 6px 6px;
}

.section > table#expenseTable td {
  background-color: #fff;
}

.section > table#summaryTable td:first-child {
  min-width: 200px;
}

.section > table#summaryTable td#summaryMonthly {
  border: solid 2px;
  border-radius: 10px 0 0 0;
  border-width: 2px 0 0 2px;
  font-weight: 700;
  padding: 0 12px;
}

.section > table#summaryTable td#summaryBudget {
  border: solid 2px;
  border-radius: 0 10px 0 0;
  border-width: 2px 2px 0 0;
  font-weight: 700;
  text-align: end;
  padding-right: 26px;
  padding: 0 30px;
}

.section > table#summaryTable tr td.summaryProgressBar {
  border: solid 2px;
  border-width: 0 2px 0 2px;
  position: relative;
  width: 380px;
  padding: 0 12px;
}

.section > table#summaryTable tr td.summaryProgressBar span {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 350px;
  gap: 2px;
}

.section table#summaryTable td.summaryProgressBar #progressMonthly,
.section table#summaryTable td.summaryProgressBar #progressBudget {
  border: 2px solid;
  padding: 3px;
  z-index: 1;
  display: flex;
  height: 28px;
}

.section table#summaryTable td.summaryProgressBar #progressBudget {
  background-color: #fff;
  text-align: end;
  z-index: 0;
}

.section td.summaryProgressBar #progressMonthly p,
.section td.summaryProgressBar #progressBudget p {
  background-color: #fff;
  border-radius: 10px;
  padding: 1px 6px;
  font-weight: 700;
  font-size: 0.9em;
  width: fit-content;
  position: absolute;
}

.section td.summaryProgressBar #progressMonthly p {
  color: #323232;
}

.section td.summaryProgressBar #progressBudget p {
  right: 6px;
}

.section > table#summaryTable tr td#empty {
  border: none;
  padding-left: 1em;
}

#summaryTotals td {
  border-bottom: none;
}

.section > table#summaryTable #summaryTotals td:nth-child(7) {
  border: solid 2px;
  border-width: 0 0 2px 2px;
  border-radius: 0 0 0 10px;
  font-weight: 600;
  padding: 0 12px;
}

.section > table#summaryTable #summaryTotals td:nth-child(8) {
  border: solid 2px;
  border-width: 0 2px 2px 0;
  border-radius: 0 0 10px 0;
  text-align: end;
  font-weight: 500;
  padding-right: 26px;
  padding: 0 30px;
}

.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly
  p,
.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning
  p,
.section table#summaryTable tr#summaryTotals #overBudgetExpenses {
  color: #ff2955;
}

.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning {
  background-color: #fe9fbf;
  border-color: #ff2955;
}

.overBudgetBlock {
  background-color: #ff2955;
  border-color: #ff2955;
  position: absolute;
  right: -12px;
  width: 12px;
  height: 28px;
}

.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly {
  border-right: none;
}

.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress {
  border-left: none;
  margin-left: -2px;
}

.hidden {
  appearance: none;
  opacity: 0;
}

.show {
  appearance: visible;
  opacity: 1;
}

#summaryTotals em {
  font-size: 0.9em;
}

/* Section colors */

#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning
  p,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning
  p {
  color: #323232;
}

#Income,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly
  p,
#Income.section table#summaryTable tr#summaryTotals #overBudgetExpenses {
  color: #09d22f;
}

#Income #summaryTotals,
#Income.section > table#summaryTable td#summaryBudget,
#Income.section > table#summaryTable td#summaryMonthly,
#Income.section > table#summaryTable tr td.summaryProgressBar,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning {
  background-color: #d0ffd0;
}

#Income.section > table#summaryTable tr:not(:first-child) td,
#Income.section > table#expenseTable tr td,
#Income.section > table#expenseTable tr:first-child td,
#Income.section > table#expenseTable tr td:first-child,
#Income.section > table#expenseTable tr td:first-child,
#Income.section > table#expenseTable tr td:last-child,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
#Income.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning,
#Income .overBudgetBlock,
#Income.section .baseBarBubble {
  border-color: #09d22f;
}

#Income.section,
#Income.section > table#summaryTable tr td#empty {
  background-color: #ebfceb;
}

#Income .overBudgetBlock {
  background-color: #09d22f;
}

#Essential {
  color: var(--blue-color);
}

#Essential #summaryTotals,
#Essential.section > table#summaryTable td#summaryBudget,
#Essential.section > table#summaryTable td#summaryMonthly,
#Essential.section > table#summaryTable tr td.summaryProgressBar {
  background-color: var(--blue-highlight);
}

#Essential.section > table#summaryTable tr:not(:first-child) td,
#Essential.section > table#expenseTable tr td,
#Essential.section > table#expenseTable tr:first-child td,
#Essential.section > table#expenseTable tr td:first-child,
#Essential.section > table#expenseTable tr td:first-child,
#Essential.section > table#expenseTable tr td:last-child,
#Essential.section .baseBarBubble {
  border-color: var(--blue-color);
}

#Essential.section,
#Essential.section > table#summaryTable tr td#empty {
  background-color: var(--blue-background);
}

#Non-Essential {
  color: var(--purple-color);
}

#Non-Essential #summaryTotals,
#Non-Essential.section > table#summaryTable td#summaryBudget,
#Non-Essential.section > table#summaryTable td#summaryMonthly,
#Non-Essential.section > table#summaryTable tr td.summaryProgressBar {
  background-color: var(--purple-highlight);
}

#Non-Essential.section > table#summaryTable tr:not(:first-child) td,
#Non-Essential.section > table#expenseTable tr td,
#Non-Essential.section > table#expenseTable tr:first-child td,
#Non-Essential.section > table#expenseTable tr td:first-child,
#Non-Essential.section > table#expenseTable tr td:first-child,
#Non-Essential.section > table#expenseTable tr td:last-child,
#Non-Essential.section .baseBarBubble {
  border-color: var(--purple-color);
}

#Non-Essential.section,
#Non-Essential.section > table#summaryTable tr td#empty {
  background-color: var(--purple-background);
}

#Savings,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly
  p,
#Savings.section table#summaryTable tr#summaryTotals #overBudgetExpenses {
  color: var(--orange-color);
}

#Savings #summaryTotals,
#Savings.section > table#summaryTable td#summaryBudget,
#Savings.section > table#summaryTable td#summaryMonthly,
#Savings.section > table#summaryTable tr td.summaryProgressBar,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning {
  background-color: var(--orange-highlight);
}

#Savings.section > table#summaryTable tr:not(:first-child) td,
#Savings.section > table#expenseTable tr td,
#Savings.section > table#expenseTable tr:first-child td,
#Savings.section > table#expenseTable tr td:first-child,
#Savings.section > table#expenseTable tr td:first-child,
#Savings.section > table#expenseTable tr td:last-child,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetMonthly,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressBudget.overBudgetProgress,
#Savings.section
  table#summaryTable
  td.summaryProgressBar
  #progressMonthly.overBudgetWarning,
#Savings .overBudgetBlock,
#Savings.section .baseBarBubble {
  border-color: var(--orange-color);
}

#Savings.section,
#Savings.section > table#summaryTable tr td#empty {
  background-color: var(--orange-background);
}

#Savings .overBudgetBlock {
  background-color: var(--orange-color);
}
